GIT_HOST=git.__DOMINIO__
POSTGRES_PASSWORD=__GENERAR__
# Deja "false" hasta crear la cuenta administradora desde el instalador web; luego ponlo en "true" y ./hl up git
FORGEJO_DISABLE_REGISTRATION=false
